In [4]:
import pandas as pd
df= pd.read_csv("../Data/mldata.csv")
df.head()

   age   height  weight gender likeness
0   27  170.688    76.0   Male  Biryani
1   41  165.000    70.0   Male  Biryani
2   29  171.000    80.0   Male  Biryani
3   27  173.000   102.0   Male  Biryani
4   29  164.000    67.0   Male  Biryani

In [5]:
df['gender']  = df["gender"].replace("Male", 1)
df['gender']  = df["gender"].replace("Female", 0)
df.head()

C:\Users\HP\AppData\Local\Temp\ipykernel_6648\3386959868.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['gender']  = df["gender"].replace("Female", 0)

   age   height  weight  gender likeness
0   27  170.688    76.0       1  Biryani
1   41  165.000    70.0       1  Biryani
2   29  171.000    80.0       1  Biryani
3   27  173.000   102.0       1  Biryani
4   29  164.000    67.0       1  Biryani

In [6]:
#selection of input and output variables
X= df[['weight','gender']]
y = df['likeness']

In [7]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier().fit(X,y)

model.predict([[80,1]])

c:\Users\HP\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.metrics  import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

model = DecisionTreeClassifier()
model.fit(X_train, y_train)
predicted_values = model.predict(X_test)
predicted_values

array(['Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Pakora',
       'Biryani', 'Pakora', 'Biryani', 'Biryani', 'Biryani', 'Samosa',
       'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani'], dtype=object)

In [9]:
score = accuracy_score(y_test, predicted_values)
score

0.5102040816326531

In [10]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import joblib

model = DecisionTreeClassifier().fit(X,y)

joblib.dump(model, "../Data/foodie.joblib")

['../Data/foodie.joblib']

In [11]:
# Load the model from the file
model_from_joblib = joblib.load('../Data/foodie.joblib')

In [12]:
print(model_from_joblib.predict(X_test))

['Biryani' 'Biryani' 'Biryani' 'Biryani' 'Biryani' 'Biryani' 'Biryani'
 'Biryani' 'Biryani' 'Biryani' 'Samosa' 'Samosa' 'Biryani' 'Biryani'
 'Biryani' 'Biryani' 'Biryani' 'Biryani' 'Biryani' 'Biryani' 'Biryani'
 'Biryani' 'Biryani' 'Biryani' 'Samosa' 'Biryani' 'Biryani' 'Biryani'
 'Biryani' 'Biryani' 'Biryani' 'Biryani' 'Biryani' 'Biryani' 'Biryani'
 'Samosa' 'Samosa' 'Biryani' 'Biryani' 'Samosa' 'Biryani' 'Biryani'
 'Biryani' 'Biryani' 'Samosa' 'Biryani' 'Biryani' 'Biryani' 'Biryani']

In [15]:
#graph
from sklearn import tree 

model = DecisionTreeClassifier().fit(X,y)
#look into what happen
tree.export_graphviz(model, out_file = "../Data/foodie.dot",
                    feature_names=["age","gender"],
                    class_names = sorted(y.unique()),
                    label = "all",
                    rounded = True,filled = True
                      )